DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=monee_db
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
# Windows: set this as a system env var if you don't want to put it in .env
GOOGLE_APPLICATION_CREDENTIALS=C:\\path\\to\\google-speech-key.json
